@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    max-width: 1200px;
    font-size: 26px;
    margin: auto;
    padding: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body {
    font-family: Raleway, sans-serif;  
    background-color: #fff;
}

body{
    max-width: 1200px;
    font-size: 26px;
    margin: auto;
    padding: auto;
}

div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

ul {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul li{
    list-style: none;
    width: 24%;
    height: 50px;
    display: inline-block;
    margin-top: 50px; 
    margin-bottom: 50px;
}

ul li a{
    color: black;
    font-size: 0.8em;
}

.meio{
    width: 100%;
}

.meio h2{
    text-align: center;
    margin-bottom: 8%;
    font-size: 1.4em;
    font-family: Ralaway, sans-serif;
    font-style: italic;
}

.meio img{
    width: 100%;
}

.store{
    border: none;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: inline;
}

.store img{
    width: 200px;
    height: 200px;
    justify-content: center;
}

.products{
    display: flex;
}

.products p{
    font-size: 0.6em;
}

.products a{
    color: black;
}

.store .products{
    justify-content: center;
}

.store .container{
    border: solid 5px rgb(211, 208, 208, 0.7);
    width: fit-content;
    height: fit-content;
    margin: 0.2%;
}

.cortado{
    border: none;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: inline;
}

.modelos .cortado{
    width: fit-content;
    height: fit-content;
}

.cortado img{
    width: 250px;
    height: 250px;
    justify-content: center;
    margin-bottom: 5vh;
}

.cortado a{
    color: black;
}

.cortado h4{
    font-size: 0.9em;
}

.cortado p{
    font-size: 0.6em;
}

.instafeed{
    width: 100%;
    /* display: block; */
    margin-top: 5%;
}

.instafeed h2{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.instafeed img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.instafeed a{
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    color: black;
    width: 100%;
}

.hours{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.map {
    height: 400px;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 70px;
    background-color: #999;
    
}

.copyright {
    width: 50%;
    float: left;

    @media (max-width: 600px) {
      width: 100%;
    }
}

.copyright p {
        padding-left: 10%;
        color: white;
        font-size: 0.7em;
        line-height: 70px;
        text-transform: capitalize;
        letter-spacing: 1px;

        @media (max-width: 600px) {
          text-align: center;
          padding: 0;
        }     
}

.social {
        width: 50%;
        float: right;
      @media (max-width: 600px) {
        width: 100%;
      }

    }

.social a {
    float: left;
    line-height: 70px;
    text-decoration: none;        color: white;
    text-align: center;
    font-weight: bold; 
    transition: all, 0.3s;
    }

.social:hover{
    background-color: #222;
    transition: all, .3s;  
  }
  
  .linked {
    background-color: #1E83AE;
    font-size: 1.2em;
    width: 20%;
  }
  
  .face {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 20%;
  }
  
  .tweet {
    background-color: #3DACDD;
    font-size: 1.2em;
    width: 20%;
  }
  
  .support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
  }
  
  /* THIAGO: incluí aqui o CSS para Produtos */

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    margin-bottom: 3rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    border: solid 5px rgb(211, 208, 208, 0.7);
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.product img {
    max-width: 100%;
    max-height: 170px;
    margin-bottom: 15px;
}

.product strong {
    font-size: 1rem;
}

.product span {
    font-size: 1rem;
}

.product:hover {
    transform: translateY(-5px);
    transition: 0.2s all;
    text-decoration: none;
}

a.product strong, a.product span {
    color: black;
}

.product-details, .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 3rem;
}
.product-details img {
    width: auto;
    max-height: 450px;
    margin-bottom: 15px;
}

.product-details p {
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 970px) {    
  
    .product {
        max-width: 23%;
    }
    .product-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: solid 5px rgb(211, 208, 208, 0.7);
    }

    .description {
        align-items: flex-start;
        justify-content: space-between;
        min-height: 300px;
        width: 55%;
    }
    
    .description p {
        text-align: left;
    }
}